html, body, main, .map-box, #map-container {
    margin: 0;
    height: 100%;
    width: 100%;
}

main, .map-box {
    position: relative;
}

body, main, .map-box {
    overflow: hidden;
}

#map-container {
    background: white;
}

#map-container, #windCanvas {
    position: absolute;
    top: 0;
    left: 0;
}

#windCanvas {
    margin: 0;
    pointer-events: none;
}

.popup-menu-button {
    margin-left: 12px;
}

.white-color {
    color: white;
}

.horizontal-container {
    display: flex;
    position: relative;
    padding: 0;
}

.no-resize {
    resize: none;
}

.lvl-slider {
    position: relative;
    width:100%;

    .mdl-slider__container {
        .mdl-slider__background-flex {
            width:calc(100% - 12px);
            margin:0 6px;
        }

        input {
            width:100%;
            margin:0;
        }
    }
}

.mdl-button--file input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
}

.mdl-textfield--file .mdl-textfield__input {
    box-sizing: border-box;
    width: calc(100% - 32px);
}

.mdl-textfield--file .mdl-button--file {
    right: 0;
}

.refresh-captcha-button {
    position: absolute;
    left: 155px;
    bottom: 0;
}

.captcha-box {
    margin-top: 20px;
}

.user-id {
    margin-right: 4px;
}

.user-pwd {
    margin-left: 4px;
}

.mdl-spinner {
    width: 84px;
    height: 84px;
}

.mdl-spinner__circle {
    border-width: 9px;
}

#dlgLoading {
    width: 84px;
    box-shadow: none;
    background-color: transparent;
}

.popup-title-box {
    margin: 0;
}

.report-img {
    box-shadow: 0 3px 5px rgba(126, 111, 111, 0.39);
    margin: 12px 0 24px 0;
}

.report-desc {
    white-space: pre-line;
}

.float-right {
    float: right;
}

.cctv-video {
    box-shadow: 0 3px 5px rgba(126, 111, 111, 0.39);
    margin: 12px 0 0 0;
    width: 320px;
    height: 240px;
}

.bad-reason {
    margin: 0 0 24px 0;
}

.mdl-layout__drawer-button:focus {
    outline:none;
}

.report-form-icon {
    margin: auto 16px auto 24px;
    font-size: 32px;
}

.full-width {
    width: 100%;
}

$FAB_WIDTH: 370px;
$MOBILE_FAB_WIDTH: $FAB_WIDTH * 0.77;

.report-dlg {
    width: $FAB_WIDTH;
}

@media (max-width: 420px) {
    .report-dlg {
        width: $MOBILE_FAB_WIDTH;
    }
}

.launch-map {
    font-size: 16px;
}